POSTGRES_PASSWORD="SECRET PASSWORD"
POSTGRES_USER="SECRET USER"
POSTGRES_DB="DBNAME"

POSTGRES_PASSWORD_TEST="SECRET PASSWORD TEST"
POSTGRES_USER_TEST="SECRET USER TEST"
POSTGRES_DB_TEST="DBNAMETEST"
DATABASE_URL="postgres://user:password@localhost:port/dbname"

PASSWORD_ADMIN="PASSWORD ADMIN"
JWT_SECRET="YOURSECRETKEY"

SMTP_EMAIL="example@example.com"
SMTP_PASSWORD="SMTP PASSWORD"
SMTP_HOST="SMTP HOST"
SMTP_PORT="SMTP PORT"
SERVER_URL="http://locahost:3000"

FRONT_URL="YOUR FRONT URL"